@if (flow$ | async) {
    <!-- TABS NAVIGATION -->
    <div class="flex items-center gap-4 mb-4">
        @for (group of formWrapper.groups; track $index) {
            @if (group !== "default") {
                <button
                    class="btn btn-default"
                    [ngClass]="{'btn-default': group !== activeGroup}"
                    (click)="changeGroup(group)">
                    {{ group }}
                </button>
            }
        }
    </div>

    @for (msg of formWrapper.messages(); track $index) {
        <ui-text-message [msg]="msg"/>
    }

    <!-- TAB CONTENT -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        @for (group of formWrapper.groups; track $index) {
            @if (group === activeGroup) {
                <div [formGroupName]="group">
                    @for (node of formWrapper.renderGroup(group); track $index) {
                        @switch (node.type) {
                            @case ('input') {
                                <ory-input [node]="node" [formControlName]="formWrapper.inputAttr(node).name" />
                            }
                            @case ('img') {
                                <ory-image [node]="node" />
                            }
                            @case ('text') {
                                <ory-text [node]="node" />
                            }
                            @case ('a') {
                                <ory-link [node]="node"/>
                            }
                        }
                    }
                </div>
            }
        }
    </form>
} @else {
    loading...
}
