@if (flow$ | async) {
    <!-- TABS NAVIGATION -->
    <div class="flex items-center gap-4 mb-4">
        @for (group of formWrapper.groups; track $index) {
            @if (group !== "default") {
                <button
                    class="btn btn-default"
                    [ngClass]="{'btn-default': group !== activeTab}"
                    (click)="changeTab(group)">
                    {{ group }}
                </button>
            }
        }
    </div>

    <!-- TAB CONTENT -->
    <form [formGroup]="form" (submit)="onSubmit()" class="flex flex-col gap-2">
        @for (node of formWrapper.renderGroup(activeTab); track $index) {
            @switch (node.type) {
                @case ('text') {
                    <ory-text [node]="node"/>
                }
                @case ('input') {
                    <ory-input [formControlName]="formWrapper.inputAttr(node).name"
                               [node]="node"/>
                }
                @case ('img') {
                    <ory-image [node]="node"/>
                }
                @case ('a') {
                    <ory-link [node]="node"/>
                }
                @case ('script') {
                    <div class="text-red-600">Script node currently not supported</div>
                }
                @default {
                    <div>Undefined node type: {{ node.type }}</div>
                }
            }
        }
        @for (msg of formWrapper.getMessages(); track $index) {
            <ui-text-message [msg]="msg"/>
        }
    </form>
} @else {
    loading...
}
