version: v0.13.0

dsn: memory

serve:
  public:
    base_url: http://localhost:4433/
    cors:
      enabled: true
  admin:
    base_url: http://kratos:4434/

selfservice:
  default_browser_return_url: http://localhost:4200/
  allowed_return_urls:
    - http://localhost:4200

  methods:
    password:
      enabled: true
    totp:
      config:
        issuer: Kratos
      enabled: true
    lookup_secret:
      enabled: true
    link:
      enabled: true
    code:
      enabled: true
    oidc:
      config:
        providers:
          - id: google
            provider: generic
            # Google client id and secret are set via env variables:
            # client_id = SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_0_CLIENT_ID
            # client_secret = SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_0_CLIENT_SECRET
            issuer_url: https://accounts.google.com
            mapper_url: file:///etc/config/kratos/google.jsonnet
            scope:
              - email
              - profile
              - openid
      enabled: true

  flows:
    error:
      ui_url: http://localhost:4200/error

    settings:
      ui_url: http://localhost:4200/settings
      privileged_session_max_age: 15m
      required_aal: highest_available

    recovery:
      enabled: true
      ui_url: http://localhost:4200/auth/recovery
      use: code

    verification:
      enabled: true
      ui_url: http://localhost:4200/auth/verification
      use: code
      after:
        default_browser_return_url: http://localhost:4200/account

    logout:
      after:
        default_browser_return_url: http://localhost:4200/auth/login

    login:
      ui_url: http://localhost:4200/auth/login
      lifespan: 10m
      after:
        default_browser_return_url: http://localhost:4200/account

    registration:
      lifespan: 10m
      ui_url: http://localhost:4200/auth/registration
      after:
        password:
          hooks:
            - hook: session
            - hook: show_verification_ui
        oidc:
          hooks:
            - hook: session

log:
  level: debug
  format: text
  leak_sensitive_values: true

secrets:
  cookie:
    - PLEASE-CHANGE-ME-I-AM-VERY-INSECURE
  cipher:
    - 32-LONG-SECRET-NOT-SECURE-AT-ALL

ciphers:
  algorithm: xchacha20-poly1305

hashers:
  algorithm: bcrypt
  bcrypt:
    cost: 8

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/config/kratos/identity.schema.json

courier:
  smtp:
    connection_uri: smtp://70eea8bdd520e8:cbb16981743f88@sandbox.smtp.mailtrap.io:2525
