@if (registerFlow$ | async) {
    <form [formGroup]="form" (submit)="onSubmit()" class="flex flex-col gap-2">
        @for (node of formWrapper.getNodes(); track $index) {
            @switch (node.type) {
                @case ('text') {
                    {{ node.attributes | json }}
                }
                @case ('input') {
                    <ory-input [node]="node" />
                }
                @case ('img') {
                    {{ node.attributes | json }}
                }
                @case ('a') {
                    {{ node.attributes | json }}
                }
                @case ('script') {
                    {{ node.attributes | json }}
                }
                @default {
                    <div>Undefined node type: {{ node.type }}</div>
                }
            }
        }
        @for (msg of formWrapper.messages; track $index) {
            <ui-text-message [msg]="msg"/>
        }
    </form>
} @else {
    loading...
}
