<form [action]="form_settings.action" [method]="form_settings.method">
    @for (node of form_settings.nodes; track node.id) {
        @if (node.attributes.type !== 'hidden') {
        <input 
            [disabled]="node.attributes.disabled"
            [name]="node.attributes.name" 
            [required]="node.attributes.required" 
            [type]="node.attributes.type"
            [value]="node.attributes.value">
        }
    }
    
    @for (node of form_nodes; track node.id) {
        <div class="mb-3">
            @if (node.type === 'input' && node.attributes.type !== 'submit') {
                <input
                    class="form-control"
                    [disabled]="node.attributes.disabled"
                    [name]="node.attributes.name"
                    [required]="node.attributes.required"
                    [type]="node.attributes.type"
                    [value]="node.attributes.value? node.attributes.value: null"
                    [placeholder]="node.meta.label?.text">
            }

            @if (node.type === 'img') {
                <p>{{node.meta.label.text}}</p>
                <img class="img-fluid" 
                    [id]="node.attributes.id"
                    [width]="node.attributes.width"
                    [height]="node.attributes.height"
                    [src]="node.attributes.src" />
            }

            @if (node.type === 'text') {
                <div class="alert alert-info my-3" role="alert" >
                    <h4 [id]="node.attributes.id" class="alert-heading">{{ node.attributes.text.text}}</h4>
                    <p [id]="node.meta.label.id">{{node.meta.label.text}}</p>
                </div>
            }

            <button 
                *ngIf="node.attributes.type === 'submit'"
                class="btn btn-info"
                [disabled]="node.attributes.disabled"
                [name]="node.attributes.name"
                [value]="node.attributes.value"
                [type]="node.attributes.type">{{ node.meta.label?.text }}</button>
        </div>
    }

</form>