<div *ngIf="(error$ | async) as err" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">{{ err.error.status }} ( {{err.error.code}} )</h4>
    <p *ngIf="err.error.reason">{{ err.error.reason }}</p>
    <p>{{ err.error.message }}</p>
    <hr>
    Details:
    <div class="small"><b>Docs:</b> {{ err.error.details.docs }}</div>
    <div class="small"><b>Hint:</b> {{ err.error.details.hint }}</div>
    <div class="small"><b>Reject reason:</b> {{ err.error.details.reject_reason }}</div>
</div>