@if (flow$ | async) {
    @for (msg of formWrapper.messages(); track $index) {
        <ui-text-message [msg]="msg"/>
    }
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        @for (group of formWrapper.groups; track $index) {
            <div [formGroupName]="group" class="flex flex-col gap-4">
                @for (node of formWrapper.renderGroup(group); track $index) {
                    @switch (node.type) {
                        @case ('input') {
                            <ory-input [node]="node" [formControlName]="formWrapper.inputAttr(node).name" />
                        }
                        @case ('img') {
                            <ory-image [node]="node" />
                        }
                        @case ('text') {
                            <ory-text [node]="node" />
                        }
                        @case ('a') {
                            <ory-link [node]="node"/>
                        }
                    }
                }
            </div>
        }
    </form>
} @else {
    loading...
}
