@if (attr().type === 'submit') {
    <button
        class="btn"
        [attr.disabled]="attr().disabled ? true : null" [attr.name]="attr().name"
        [attr.type]="attr().type"
        [attr.value]="attr().value">
        {{ node.meta.label?.text }}
    </button>
} @else {
    @if (attr().type === 'hidden') {
        <input [attr.disabled]="attr().disabled ? true : null" [attr.name]="attr().name"
               [attr.required]="attr().required"
               [attr.type]="attr().type" [attr.placeholder]="node.meta.label?.text"
               [attr.value]="attr().value? attr().value: null"/>
    } @else {
            <label>{{ node.meta.label?.text }}</label>
            <input class="input"
                   [placeholder]="node.meta.label?.text"
                   [attr.autocomplete]="attr().autocomplete"
                   [attr.value]="attr().value? attr().value: null"
                   [attr.disabled]="attr().disabled ? true : null"
                   [attr.name]="attr().name"
                   [attr.type]="attr().type"
            />

            @for (message of node.messages; track message) {
                <div class="alert alert-danger" [class.text-danger]="message.type === 'error'"
                     [class.text-info]="message.type === 'info'"
                     [class.text-success]="message.type === 'success'">
                    {{ message.text }}
                </div>
            }
    }
}
