<div class="card-body">
    <form [action]="form.ui.action" [method]="form.ui.method" *ngIf="(form$ | async) as form">
        <div class="formgroup" *ngFor="let node of form.ui.nodes">
            <input *ngIf="node.attributes.type === 'hidden'"
                [disabled]="node.attributes.disabled"
                [name]="node.attributes.name"
                [required]="node.attributes.required"
                [type]="node.attributes.type"
                [value]="node.attributes.value"
            >

            <div class="mb-3" *ngIf="node.attributes.type !== 'submit' && node.attributes.type !== 'hidden'">
                <input pInputText class="form-control"
                    [disabled]="node.attributes.disabled"
                    [name]="node.attributes.name"
                    [required]="node.attributes.required"
                    [type]="node.attributes.type"
                    [value]="node.attributes.value? node.attributes.value: null"
                    [placeholder]="node.meta.label?.text"
                >
            </div>
            
            <button *ngIf="node.attributes.type === 'submit'"
                class="btn btn-info"
                [disabled]="node.attributes.disabled"
                [name]="node.attributes.name"
                [value]="node.attributes.value"
                [type]="node.attributes.type">{{ node.meta.label?.text }}</button>
        </div>

        <div *ngFor="let message of form.ui.messages"
            class="alert mt-4" 
            [ngClass]="{
                'alert-warning': message.type === 'error',
                'alert-info': message.type === 'info'
            }" 
            role="alert">
            {{message.text}}
        </div>
    </form>
</div>

<div class="card-footer">
    <a routerLink="/auth/register" class="btn btn-link">Register</a>
    or 
    <a routerLink="/auth/recovery" class="btn btn-link">Recover</a>
</div>